html {
  height: 90%;
  width: 10%;
}
h1{
  font-size: 50px ;
  width: 700px;
  box-shadow: 5px 5px 5px 5px black
}
body{
background-image:linear-gradient(#09ec09, #06edfe, #09ec09) ;
  font-size: 30px;
}
footer{
  width: 700px;
  color: black;
}
main{
  width: 700px;
  color: black;
  background-image:linear-gradient(#09ec09, #06edfe, #09ec09) ;
  font-size:30px;

}
img{
width: 400px;
height: 400px;


}
p{
  border:2px dashed #ffffff ;
  border-radius: 5px;
  width: 700px;
}
h2{
  color: #0a0a0a;
  width: 700px;

}

h3{
  color: #000000;
  width: 700px;
  font-size: 30px
}
.pic{
  width: 500px;
}
.pic1{

  font-size: 30px;
  color:#1c1c1c;
}
header{
  color:white;
  font-size: 100px;
  width: 700px;
  height: 123px;
  text-align:center;
  padding-top:30;
}
p{
  width: 500px;
}
.cobaca{
  background-color: darkblue;
  width: 600px;
  hieght: 600px;
  color: white;
  border:20px solid #000000fff;
  border-radius: 100px;
  padding-top:40px;
  padding-left:100px;
  magin-right: 100px;
}
.d{
  color: white;
  width:700px ;
  display:flex
}
.d a{
  text-decoration:none;
  border:2px solid #408ace;
  border-radius:20px;
  padding-top:10px;
  margin: 40px;
}
